*{ font-family: 'Roboto', sans-serif;}

html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #ccc;
}

.paddingtop{
  padding-top: 150px;
}

#show_on_mobile {
display: none;
}

body {
    
    background-color: rgb(41, 39, 39);
    margin: 0;
    color:#fff;
    line-height: 1.5;
  }

img {
    width: 100%;
}

/*section prooperties*/
.section {
    padding: 2rem 0;
}

section#entertainment {
background: url(../img/red_curtain.jpg) no-repeat bottom/cover;
padding: 10rem 0;
}

.section-head {
    font-size: 2.5rem;
    margin: 0;
}
.section h3 {
    font-size: 2rem;
}

#pic2 {
width: 1068px;
  height:auto;
}

#redeem {
    padding-top: 1rem;
}

.gift {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

#gis {
    padding-top: 110px;
}

/*button*/
.btn {
    padding: 1rem;
    color: #fff;
    display: inline-block;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  from { transform: translate(0, 0px); }
  60% { transform: translate(0, 8px); }
  to { transform: translate(0, -0px); }

}


#scroller {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #143f85;
  color: #ccc;
  cursor: pointer;
  padding: 15px;
  border-radius: 100px;
  font-size: 16px;
  height: 47px;
  width: 47px;
}

#scroller:hover {
  background-color: #333;
  transition: .7s;
}

.btn-primary {
    background: #b90415;
}

.btn-primary:hover {
    background: #d3071b;
}

.btn-secondary {
    background: #103063;
}

.btn-secondary:hover {
    background: #143f85;
}

.btn-third {
  background: #1aaf8a;
}

.btn-third:hover {
  background: #1d9782;
}

/*text colors*/
.bg-light {
    background: #fff;
    color: #333;
}


.text-primary {
    color: #b90415;
}

.text-secondary {
    color: #103063;
}

.test-light {
    color: #f4f4f4;
}

  /*showcase*/
  #showcase {
      
      margin: 0;
      padding: 0;
      background: url('../img/mainpic.jpg') no-repeat center/cover;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow-y: hidden;
  }


  #showcase .container{
      margin-top: 25vh;
  }

  #showcase h1{
      font-size: 4rem;
      margin-bottom: 0;
  }

  #showcase h2 {
      font-size: 2rem;
  }

  #test {
      
      margin-top: -5rem;
  }

  /*footer*/

  footer .footer-cols {
      display:grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      padding: 2rem;
      text-align: left;
      font-size: 14px;
  }
  footer .footer-cols ul {
      list-style: none;
  }
  footer .footer-cols ul li:first-child {
      font-size: 1.2rem;
      padding-bottom: 0.5rem;
      border-bottom: #444 solid 1px;
      margin-bottom: 1rem;
  }

  footer .footer-bottom {
      background: #333;
      padding: 1rem;
  }
  /*obshti*/
.text-center {
    text-align: center;
}



  .container{
      max-width: 1180px;
      text-align: center;
      margin: 0 auto;
      padding: 0 3rem;
  }

  .lead {
      font-size: 1.3rem;
      
  }

  #terms{
    text-align: justify;
  }

  .mb {
      margin-bottom: 1rem;
  }

  .mt {
      margin-top: 1rem;
  }

  /*navigation*/

#logo {
    float: left;
}


  nav {
    height: 40px;
    width: 100%;
    background-color: rgb(36, 35, 35);
    color: #eee;
    position: fixed;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav li {
    display: inline;
    float: right;
    
  }



  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
  }
  nav li:hover {
    background-color: #333;
    transition: .9s;
  }
  nav a:hover {
    color: tomato;
    transition: .9s;
  }
 

  nav a#openup {
    display: none;
  }
  
  @media screen and (max-width: 580px) {
    
    .hide-small {
        display: none;
    }

    #showcase {
        height: 50vh;
    }

    #showcase .container {
        margin-top: 15vh;
    }

    #showcase h1 {
        font-size: 3rem;
    }

    #showcase h2 {
        font-size: 1.5rem;
    }
  
    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      border-bottom: 1px solid #555;
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }

    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative;
    }
  }
  .navi:before, .navi:after {
    content: "";
    display: table;
  }
  
  .navi:after {
    clear: both;
  }
  
  
  @media screen and (max-width: 780px) {

.gift {
   grid-template-columns: 1fr; 
}
footer .footer-cols {
    display: none;
}
#gis {
    padding-top: 0px;
    padding-bottom: 20px;
    
}


#pic2 {
    display: none;
}

#but2 {
     margin-bottom: 10px;
}

#imggift {
    align-content: center;
    
    padding-top: 0px;
}

#test {
    display: none;
}
#show_on_mobile {
    display: contents;
}

  }

